#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .card {
    h1 {
      font-size: 40px;
    }
  }
}
