@import "scss/bootstrap";
@import"scss/navbar";
@import "scss/button";
@import "scss/heroSection";
@import "scss/About";
@import "scss/courses";
@import "scss/whyChooseUs";
// @import "scss/accordion";
@import "scss/contact";
@import "scss/footer";
@import "scss/registration";
@import "scss/adminDashboard";
@import "scss/adminLogin";
@import "scss/adminLogin";
@import "scss/loader";
@import "scss/testimonials";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}