footer {
    .socialIconBg {
        background-color: #e5f8fd;
        width: 40px !important;
        height: 40px !important;
        border-radius: 50% !important;

        .socialIcon {
            color: $primaryColor !important;
        }
    }

    .socialIconBg:hover {
        border: 1px solid $primaryColor !important;
        transition: border 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 4px 12px $primaryColor;

    }

    .footerNav {
        color: $primaryColor !important;
        transition: color 0.3s ease;

        &:hover {
            color: darken($primaryColor, 10%) !important;
            text-decoration: underline !important;
        }
    }

    .muhammadUmar {
        color: $foreground !important;
        transition: color 0.3s ease;
        text-decoration: none !important;

        &:hover {
            color: $primaryColor !important;
            text-decoration: underline !important;
        }
    }
}